.ecster-selected .woocommerce {
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}

#ecster-pay-ctr {
	display: none;
}

#ecster-checkout-select-other{
	margin-top:20px;
}

.ecster-selected #ecster-pay-ctr {
	display: block;
}

/* Flatsome */
.ecster-selected .row.pt-0 {
	display: none;
}

/* B2B B2C switcher **/
label[for=ecster-b2c],
label[for=ecster-b2b] {
	display: inline;
}